<h2>Reactivos: Básicos</h2>
<hr />

<div class="row">
  <div class="col">
    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSave()">
      <!-- [formGroup]="myForm" sirve para asociarlo con el formulario reactivo
      ngSubmit es un evento que se dispara cuando se envía el formulario,
      previene el comportamiento o la propagacion por defecto del formulario
      -->

      <!-- Campo de producto: tipo string -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre del producto"
            formControlName="name"
          />
          <!-- formControlName sirve para asociarlo con el formulario reactivo,
           sino no podría detectar cambios en el formulario
          -->

          @if ( formUtils.isValidField( myForm, 'name') ) {
          <span class="form-text text-danger">
            {{ formUtils.getFieldError(myForm, "name") }}
          </span>
          }
        </div>
      </div>

      <!-- Campo de precio: tipo number -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Precio del producto"
            formControlName="price"
          />
          @if ( formUtils.isValidField( myForm, 'price') ) {
          <span class="form-text text-danger">
            {{ formUtils.getFieldError(myForm, "price") }}
          </span>
          }
        </div>
      </div>

      <!-- Campo de existencias: tipo number -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Existencias del producto"
            formControlName="inStorage"
          />

          <!-- Utilizacion de form-utils.ts
          Sirve para validar campos y mostrar errores
          -->
          @if ( formUtils.isValidField( myForm, 'inStorage') ) {
          <span class="form-text text-danger">
            {{ formUtils.getFieldError(myForm, "inStorage") }}
          </span>
          }
        </div>
      </div>

      <!-- Boton de guardar -->
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end">
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{ myForm.valid | json }}</pre>
    <!-- Pipe para mostrar JSON -->
    <!-- true porque no tenemos ninguna validación -->

    <span>Pristine</span>
    <pre>{{ myForm.pristine | json }}</pre>
    <!-- true porque no hemos modificado nada del formulario
     desde el momento en que se le dió al usuario
    -->

    <span>Touched</span>
    <pre>{{ myForm.touched | json }}</pre>
    <!-- false cuando el usuario no ha tocado el formulario -->

    <span>Value</span>
    <pre>{{ myForm.value | json }}</pre>
    <!-- Muestra el valor del formulario en formato JSON,
     se muestra tal cual fue definido en el componente typescript
    -->


    <!-- Mostrar errores específicos de cada campo
    Angular maneja los errores de los input separados de los errores del formulario
    por eso se accede a ellos de esta forma: los siguientes son errores del formulario.
    Más específicamente, errores de cada control del formulario
    (cada control es cada campo del formulario)
    -->
    <span>Errores en name</span>
    <pre>{{ myForm.controls["name"].errors | json }}</pre>
    <!-- ["name"] significa que está como una señal computada -->
    <pre>{{ myForm.controls["price"].errors | json }}</pre>
    <pre>{{ myForm.controls["inStorage"].errors | json }}</pre>

    <span>Precio</span>
    <pre>{{ myForm.controls["price"].value | json }}</pre>
    <!-- price computado como está
     o se puede hacer también como: myForm.controls.price

     Si no colocamos al final .value, nos muestra un error "Circular"
     porque el objeto FormControl tiene referencias circulares
     que el pipe json no puede resolver.
     Price es el control y el value es el valor de ese control.

     Al principio se muestra como un número 0 porque
     así fue definido en el componente typescript
    -->

    <span>Producto</span>
    <pre>{{ myForm.controls["name"].value | json }}</pre>
    <!-- Lo mismo que arriba, pero con name
    Al principio se muestra como un string vacío "" porque
    así fue definido en el componente typescript
    -->
  </div>
</div>
