<h2>Páginas</h2>
 <hr /> <!-- Salto de línea -->

<h3 class="mt-3">Reactive</h3>

<ul class="list-group">
  @for (item of reactiveMenu; track item.title) {
  <li
    [routerLink]="item.route"
    routerLinkActive="active"
    class="list-group-item"
  >
    {{ item.title }}
  </li>
  <!-- Explicación:
  - item of reactiveMenu: itera sobre cada elemento del array reactiveMenu
  - track item.title: especifica qué propiedad usar (title) para rastrear cada elemento (optimización de rendimiento)
  - [routerLink]="item.route": property binding que hace el elemento clickeable para navegar a la ruta especificada en item.route
  - routerLinkActive="active": añade automáticamente la clase CSS active cuando la ruta actual coincide con item.route

  Este código genera dinámicamente una lista de navegación donde cada elemento:
  - Se renderiza a partir de un array llamado reactiveMenu
  - Es clickeable y navega a una ruta específica
  - Se resalta automáticamente cuando está activo
  - Muestra el título correspondiente

   {{ item.title }} utiliza interpolación para mostrar el título de cada elemento en la lista.
  -->
  }
</ul>

<h3 class="mt-3">Auth</h3>

<ul class="list-group">
  @for (item of authMenu; track item.title) {
  <li
    [routerLink]="item.route"
    routerLinkActive="active"
    class="list-group-item"
  >
    {{ item.title }}
  </li>

  }
</ul>
<h3 class="mt-3">Países</h3>

<ul class="list-group">
  @for (item of countryMenu; track item.title) {
  <li
    [routerLink]="item.route"
    routerLinkActive="active"
    class="list-group-item"
  >
    {{ item.title }}
  </li>

  }
</ul>
